NewWSDLFile.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="PostaPlusAPI" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="ThirdPartyService" targetNamespace="http://tempuri.org/">
<wsdl:import namespace="PostaPlusAPI" location="http://168.187.136.18:8095/APIService/ThirdPartyService.svc?wsdl=wsdl0"/>
<wsdl:types>
<xsd:schema targetNamespace="http://tempuri.org/Imports">
<xsd:import schemaLocation="http://168.187.136.18:8095/APIService/ThirdPartyService.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
<xsd:import schemaLocation="http://168.187.136.18:8095/APIService/ThirdPartyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
<xsd:import schemaLocation="http://168.187.136.18:8095/APIService/ThirdPartyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tps"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="IThirdPartyService_CreateMasterAccount_InputMessage">
<wsdl:part name="parameters" element="tns:CreateMasterAccount"/>
</wsdl:message>
<wsdl:message name="IThirdPartyService_CreateMasterAccount_OutputMessage">
<wsdl:part name="parameters" element="tns:CreateMasterAccountResponse"/>
</wsdl:message>
<wsdl:message name="IThirdPartyService_MasterAccountINfo_InputMessage">
<wsdl:part name="parameters" element="tns:MasterAccountINfo"/>
</wsdl:message>
<wsdl:message name="IThirdPartyService_MasterAccountINfo_OutputMessage">
<wsdl:part name="parameters" element="tns:MasterAccountINfoResponse"/>
</wsdl:message>
<wsdl:portType name="IThirdPartyService">
<wsdl:operation name="CreateMasterAccount">
<wsdl:input wsaw:Action="http://tempuri.org/IThirdPartyService/CreateMasterAccount" message="tns:IThirdPartyService_CreateMasterAccount_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IThirdPartyService/CreateMasterAccountResponse" message="tns:IThirdPartyService_CreateMasterAccount_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="MasterAccountINfo">
<wsdl:input wsaw:Action="http://tempuri.org/IThirdPartyService/MasterAccountINfo" message="tns:IThirdPartyService_MasterAccountINfo_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IThirdPartyService/MasterAccountINfoResponse" message="tns:IThirdPartyService_MasterAccountINfo_OutputMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:service name="ThirdPartyService">
<wsdl:port name="TpsBinding_IThirdPartyService" binding="i0:TpsBinding_IThirdPartyService">
<soap:address location="http://168.187.136.18:8095/APIService/ThirdPartyService.svc"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>